.dotted-border{
    border: 1px dotted #ccc !important;
}

.dotted-right-border{
    border-right: 1px dotted #ccc !important;
}
.title{
    color: #fff;
}
.rhead {
    background-color: inherit;
}
.result{
    background-color: #fff;
}
.textwrapper
{
    width: 100%;
    text-align: left;
    border:1px solid #999999;
    margin:5px 0;
    min-height:100px;
}
.hide-it{
    display: none;
}
.test-result, .test-result:before, .test-result:after {
    padding: 0;
    border-radius: 12px;
    height: 12px;
    min-width: 12px;
    display: inline-block;
}

.pass, .pass:before, .pass:after {
    color: #18A900;
    background-color: #18A900;
}

.fail, .fail:before, .fail:after{
    color: #ff3300;
    background-color: #ff3300;
}
.no-result, .no-result:before, .no-result:after {
    color:#ccc;
    background-color:#ccc;
}

.last-result {
    table-layout: fixed;
}

.last-result > tbody > tr > td {
    border: none;
    border-bottom: 1px dotted #ccc !important;
}

.last-result-box{
    margin-top: 30px;
}

.history{
    table-layout: fixed;
    width: auto
}

.history > tbody > tr > td {
    background-color: #fff;
    width: 70px;
    word-wrap:break-word;
}

.history > tbody > tr > td:first-child {
    width: 170px;
}

.svg-img{
    max-height: 300px;
    min-height: 200px;
}

.sparkline {
    width: 30px;
    height: 35px;
}

.chart{
    min-width: 350px;
    height: 400px;
    margin: 0 auto;
}

.box{
    padding-bottom: 5px;
    border: none;
}

.more {
    font-size: 20px;
    padding-left:10px
}