.dotted-border {
    border: 1px dotted #ccc !important;
}

.dotted-right-border {
    border-right: 1px dotted #ccc !important;
}

.title {
    color: #fff;
}

.cloud-list {
    background-color: inherit;
    text-align: left;
}

.hide-it {
    display: none;
}

.test-result, .test-result:before, .test-result:after {
    padding: 0;
    height: 12px;
    min-width: 12px;
    display: inline-block;
    font-size: 18px;
}

.pass, .pass:before, .pass:after {
    color: #18A900;
}

.fail, .fail:before, .fail:after {
    color: #ff3300;
}

.cloud-fail {
    color: #FFA500;
}

.no-result, .no-result:before, .no-result:after {
    color: #ccc;
}

.last-result {
    table-layout: fixed;
}

.last-result > tbody > tr > td {
    border: none;
    border-bottom: 1px dotted #ccc !important;
}

.last-result-box {
    margin-top: 30px;
}

.svg-img {
    max-height: 300px;
    min-height: 200px;
}

.chart {
    min-width: 350px;
    height: 400px;
    margin: 0 auto;
}

.more {
    font-size: 20px;
    padding-left: 10px
}

.outcome {
    margin: 0;
    padding: 0;
    display: inline-table;
    width: 50px;
    border: none !important;
}

.outcome > tbody > tr > td {
    padding: 5px;
    border: none;
    color: #888;
    font-size: 13px;
}

.bundle-name {
    text-align: center !important;
}

.bundle-date {
    width: 1px;
    white-space: nowrap;
    padding: 15px 2em;
}

.bundle-status {
    width: 1px;
    white-space: nowrap;
    padding: 15px 2em;
}

.suite-title {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    color:#888
}

.chart-title{
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #666;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

#main-content table thead th:first-of-type {
    text-align: center;
}

.results-legend {
    text-align: center;
}
