.dotted-border{
    border-bottom: 1px dotted #ccc !important;
}

.dotted-right-border{
    border-right: 1px dotted #ccc !important;

}
.title{
    color: #fff;
}
.rhead {
    background-color: inherit;
}
.result{
    background-color: #fff;
}

.textwrapper
{
    width: 100%;
    text-align: left;
    border:1px solid #999999;
    margin:5px 0;
    min-height:100px;
}
.hide-it{
    display: none;
}
