<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/ubuntu-styles.css">
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <script type='text/javascript' src='../static/js/jquery.min.js'></script>
    <script type="text/javascript">
        function hide_rows(name) {
            name = '.' + name;
            $(name).hide();
            return false;
        }
        function toggle_rows(name) {
            name = '.' + name;
            $(name).toggle();
            return false;
        }
    </script>
</head>
{% macro display_status_img(value, size='30px') -%}
    {% if value == 'PASS' or value == 'All Passed' %}
        <span class="test-result pass"></span>
    {% elif value == 'FAIL' or value == 'All Failed' %}
        <span class="test-result fail"></span>
    {% elif value == 'Some Failed' %}
        <span class="test-result fail"></span>
    {% else %}
        <span class="test-result no-result"></span>
    {% endif %}
{%- endmacro %}
<body class="details-page">
<div class="container">


    <div class="wrapper">
        <div id="main-content">

            <div class="row">
                <h2>Cloud Weather Report</h2>
            </div>

            <div class="row no-border">
                <div class="twelve-col">

                    <div class="six-col">
                        <div><h3>{{ charm_name }}</h3></div>
                        <div class="dotted-border box-grey align-center">
                            {% if svg_path %}
                                <img src="{{ svg_path }}" class="svg-img" />
                            {% else %}
                                Image not available
                            {% endif %}
                        </div>
                    </div>

                    <div class="six-col last-col no-margin-bottom">
                        <div><h3>Last {{ results["date"]|humanize_date }}</h3></div>
                        <div>
                            <table style="table-layout:fixed">
                                <col width="40px"/>
                                <col width="20px"/>
                                <col width="20px"/>
                                <col width="20px"/>
                                <col width="30px"/>
                                {% for result in results['results'] %}

                                    {% set rowloop = loop %}
                                    <tr onclick="toggle_rows('t{{ rowloop.index }}');" class="result">
                                        <td  class="rhead last-result">
                                            <a href="javascript:;">{{ result["provider_name"] }}</a>
                                        </td>
                                        <td colspan="3" class="rhead last-result sparkline">
                                            {% if result.get('benchmarks') %}
                                                <embed src="../static/images/line.svg?{{ ",".join(result['benchmarks'][0].values()[0]["all_values"]) }}" type="image/svg+xml"
                                            height="50" width="100">
                                            {% endif %}
                                        </td>
                                        <td class="rhead last-result">
                                            <a href="javascript:;">
                                                {{  display_status_img(result.get("test_outcome")) }}
                                            </a>
                                        </td>
                                    </tr>
                                    {% for test in result['tests'] %}
                                        <tr class="t{{ rowloop.index }} hide-it">
                                            <td colspan="4" class="" onclick="toggle_rows('output{{ rowloop.index }}{{ loop.index }}')">
                                                <a href="javascript:;">{{ test["name"] }}</a>
                                            </td>
                                            <td class="">{{ display_status_img(test["result"]) }}</td>
                                        </tr>
                                        <tr class="output{{ rowloop.index }}{{ loop.index }} hide-it">
                                            <td colspan="5">
                                                <textarea cols="7" disabled class="textwrapper">{{ test.get("output", "no output")|safe }}</textarea>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <div class="twelve-col no-margin-bottom">
                    <h3>Report history</h3>
                    <table class="history">
                        {% if history %}
                            {% for provider,values in history.iteritems() %}
                                <tr>
                                    <td>{{ provider }}</td>
                                    {% for value in values %}
                                        {% for result in value['results'] %}
                                            <td>{{ display_status_img(result["test_outcome"]) }}</td>
                                        {% endfor %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<script>


</script>
</body>
</html>